<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Lista de productos</h1>
      <ul>
        <li *ngFor="let product of cartService.getCartItems() | async; index as i">
          <div class="row product-info">
            <div class="col-12 col-md-1 text-md-right">
              <span class="product-number">{{ i + 1 }}.</span>
            </div>
            <div class="col-12 col-md-4">
              <span>{{ product.productName }}</span>
            </div>
            <div class="col-6 col-md-2 text-md-right">
              <span class="qty-subtotal">{{ product.quantity }}</span>
            </div>
            <div class="col-6 col-md-2 text-md-right">
              <span class="qty-subtotal"> -- ${{ cartService.calculateProductSubtotal(product) }}</span>
            </div>
            <div class="col-6 col-md-2">
              <input [(ngModel)]="product.quantity" type="number" min="1" max="999" class="qty-input form-control">
            </div>
            <div class="col-6 col-md-1">
              <button (click)="cartService.removeProduct(i)" class="btn btn-danger">x</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
